# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [71]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1
chipo.shape
chipo.shape[0]

# 4622

4622

In [16]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [14]:
# Solution 3
len(chipo.index)

4622

### Step 6. What is the number of columns in the dataset?

In [17]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [36]:
c_gpd = chipo.groupby('item_name')

c_gpd_sum = c_gpd.sum()

c_gpd_sum.sort_values('quantity', ascending = False).head(10)

                              order_id  quantity
item_name
Chicken Bowl                    713926       761
Chicken Burrito                 497303       591
Chips and Guacamole             449959       506
Steak Burrito                   328437       386
Canned Soft Drink               304753       351
Chips                           208004       230
Steak Bowl                      193752       221
Bottled Water                   175944       211
Chips and Fresh Tomato Salsa    100419       130
Canned Soda                      76396       126

### Step 10. For the most-ordered item, how many items were ordered?

In [38]:
c_gpd_sum.sort_values('quantity', ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [43]:
chipo.head()

chipo.choice_description.value_counts()

[Diet Coke]                                                                                     134
[Coke]                                                                                          123
[Sprite]                                                                                         77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                           42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                40
                                                                                               ...
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream]]                 1
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Cheese, Sour Cream, Guacamole]]      1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Guacamole]]                                       1
[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Guacamole]]                 1
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Guacamole, Rice, Fajita Vegetables]]           1
Name: choice_description, Length: 1043, dtype: int64

In [44]:
c_gpd = chipo.groupby('choice_description')

c_gpd.sum().sort_values('quantity', ascending = False)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [46]:
total_orders = chipo.quantity.sum()
total_orders

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [72]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [73]:
# SOLUTION 1 - MAP
convert_to_float = lambda x: float(x[1:])

chipo2 = chipo.copy()
chipo2.item_price = list(map(convert_to_float, chipo2.item_price))

In [77]:
# SOLUTION 2 - APPLY
convert_to_float = lambda x: float(x[1:])

chipo = chipo.copy()
chipo.item_price = list(map(convert_to_float, chipo.item_price))

#### Step 13.c. Check the item price type

In [75]:
chipo2.item_price.dtype

dtype('float64')

In [78]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [85]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo.revenue.sum()

39237.02

In [86]:
revenue = (chipo.item_price * chipo.quantity).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [88]:
max(chipo.order_id)

1834

In [92]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [102]:
# Solution 1
c = chipo.groupby('order_id')
c_sum = c.sum()
c_sum.mean()['revenue']

21.394231188658654

In [103]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

### Step 17. How many different items are sold?

In [105]:
chipo.item_name.value_counts().count()

50